*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after{
    content:"";
    display: table;
    clear: both;
}

body{
	font-family: Open sans;
	font-size: 16px;
}

h1{
	font-size: 77px;
}

h2{
	font-size: 40px;
}

h3{
	font-size: 25px;
}

h4, 
h5{
	font-size: 16px;
}

main {
    margin-top: 70px;
}

nav {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 18px 12px;
    background-color: white;
    z-index: 92;
}

ul {
    list-style:none
}

.arrow-down{
    display: inline-block;
    font-size: 30px;
}

.hero-section{
    position: relative;
    top:80px
}

.hero-text{
    width: 35%;
    font-weight: bold;
}

.hero-img{
    width: 65%;
}

.hero-text_img{
padding-top: 40px;
}

.prova_gratuita{
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}



/* SELETTORI AVANZAT */

nav ul li{
    display: inline-block;
    
}

nav div ul li a{
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    color: black;
    font-weight: bold;
    padding: 0 18px;
}

section.bg-lightblue{
    padding-top: 50px;
}
 
div.hero-img img{
    width: 100%;
}

.hero-text p{
margin-bottom: 30px;

}