*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after{
    content:"";
    display: table;
    clear: both;
}

body{
	font-family: Open sans;
	font-size: 16px;
}

h1{
	font-size: 77px;
}

h2{
	font-size: 40px;
}

h3{
	font-size: 25px;
}

h4, 
h5{
	font-size: 16px;
}

main {
    margin-top: 200px;
}

footer{
    min-height: 300px;
    padding: 70px 80px 0 80px;
}

nav {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 18px 12px;
    background-color: white;
    z-index: 92;
}

ul {
    list-style:none
}

.arrow-down{
    display: inline-block;
    font-size: 30px;
    box-shadow: none;
    transform: translate(0);
    transition: all 1s infinite;
}

.hero-section{
    position: relative;
    top:80px
}

.hero-text{
    width: 35%;
    font-weight: bold;
}

.hero-img{
    width: 65%;
}

.hero-text_img{
    padding-top: 40px;
}

.prova-gratuita{
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}

.input-invoice{
    margin: 50px 0 40px;
}

.acquista-ora{
    color: #0061ff;
    font-weight: bold;
}

hr{
    width: 20%;
    color: #e5e5e7;
    margin-top: 30px;
}

.enterprise{
    padding:20px;
}

.partner-img{
    width: 100%;
}

.partner-text{
    padding: 40px;
}

footer{
    margin-top: 70px;
}

.select-language{
    padding-top: 40px;
}

.accordion-container{
    border-top: 1px solid #e5e5e7;
    border-bottom: 1px solid #e5e5e7;
    margin-left: 0;
}

.accordion-item{
    padding: 20px 30px 20px 0;
    border-bottom: 1px solid #e5e5e7;
}

.accordion-item-content{
    height: 0px;
    overflow: hidden;
    transition: height 0.4s;
}
.accordion-item:focus .accordion-item-content{
    height: 300px;
    overflow: auto;
}

.accordion-item-icon{
    transform: rotateZ(0deg);
    transition: transform 0.4s;
}

.accordion-item:focus .accordion-item-icon{
    transform: rotateZ(180deg);
}


/* SELETTORI AVANZAT */

nav ul li{
    display: inline-block;
    
}

nav div ul li a{
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    color: black;
    font-weight: bold;
    padding: 0 18px;
}

section.bg-lightblue{
    padding-top: 50px;
}
 
div.hero-img img{
    width: 100%;
}

.hero-text p, div.container .row.clearfix{
    margin-bottom: 40px;
}

.type-plan-dropbox h4{
    padding: 20px 0 10px;
}

.type-plan-dropbox .subtitle{
    display: inline-block;
    margin-bottom: 30px;
}

.details-plan-dropbox ul li, .icon-plan-dropbox ul li{
    padding: 15px 0;
    display: inline-block;
    position: relative;
    right: 16px;
}

div.enterprise div h4{
    padding: 15px 0 35px;
}

div.text-right .btn.btn-large.bg-blue{
    margin:0;
}

div.enterprise p{
    font-size: 12px;

}

.partner-text p{
    padding: 30px 0;

}

.features-spacing p{
    margin-top: 20px;
}

section div.container a.text-blue{
    display: inline-block;
    margin: 20px 0 30px;
}

.center-square img{
    width:20%;
}

.center-square hr{
    width:10%;
}

.center-square p:nth-child(3){
    margin: 40px 0 60px;
}

section.bg-lightblue div.container.clearfix{
    padding: 80px 0;
}

.question-section h3{
    margin-top: 60px;
    margin-bottom: 40px;
}

footer div.container-large{
    padding-bottom: 40px;
}

footer div.container-large div{
    width: 20%;
    display: inline-block;
}

footer div.container-large div h4{
    padding-bottom: 18px;
}

footer div.container-large div ul li{
    padding: 5px 0;
}

.accordion-item h5{
    padding: 20px 0;
    width: 100%;
}

