.container-large{
	max-width: 1367px;
    width: 100%;
    margin: auto;
}

.container {
    max-width: 1010px;
    width: 100%;
    margin: auto;
}

.plans-section{
    margin-bottom: 150px;
}

.partner-section, .features-container{
    margin-bottom: 100px;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}

.col_1_9 {
    width: calc(100% / 9);
  }
  
.col_2_9 {
    width: calc(100% / 9 * 2);
  }
  
.col_3_9 {
    width: calc(100% / 9 * 3);
  }
  
.col_4_9 {
    width: calc(100% / 9 * 4);
  }
  
.col_5_9 {
    width: calc(100% / 9 * 5);
  }
  
.col_6_9 {
    width: calc(100% / 9 * 6);
  }

.btn{
    color: white;
    padding: 6px 12px;
    text-decoration: none;
    font-size: 14px;
}

.btn-white{
    background-color: white;
    border: 1px solid black;
    color: black;
}

.bg-blue{
    background-color: #0061ff;
}

.bg-lightblue{
    background-color: #b4d0e7;
}

.bg-black{
    background-color: black;
    color: white;
}

.title-col{
    border-bottom: 1px solid #e5e5e7;
    text-align: center;
    padding: 8px 0;
}

.col_border{
    border: 1px solid #e5e5e7;
}

.spacing-col{
    padding-right: 20px;
    padding-left: 20px;
}

.row{
    margin-left: -20px;
    margin-right: -20px;
}

.heigth-col{
    min-height: 1200px;
}

.subtitle{
    color: #e5e5e7;
    font-size: 14px;
}

.type-plan-dropbox{
    padding: 30px;
}

.details-plan-dropbox{
    padding: 0 30px 60px;
}

.text-blue{
    color:#0061ff;
}

.text-right{
    text-align: right;
}

.btn-large{
    width: 100%;
    text-align: center;
    display: inline-block;
    padding: 5px 18px;
    margin: 30px 0 20px;
}

.features-img{
    width: 100%;
}

.row-features{
    margin-top: 30px;
}

 .features-spacing{
    padding: 40px 20px;
}

.side-squares{
    width: 30%;
    height: calc(30vw / 2);
}

.container-square{
    width: 50%;
    height: calc(30vw / 2);
}

.side-squares img{
    width:100%;
    height:100%;
    object-fit:scale-down;
    padding:50px;
}

.center-square{
    overflow: hidden;
    height: 30vw;
    width: 40%;
    background-color: lightgray;
    padding: 60px 40px;
}

.text-magenta{
    color: #6a1d3f;
}

.btn-white-larger{
    padding: 10px 40px;
    border: none;
    font-weight: bold;
}
/* TEAM DROPBOX BUSINESS CSS */
