.container-large{
	max-width: 1367px;
    width: 100%;
    margin: auto;
}

.container {
    max-width: 1010px;
    width: 100%;
    margin: auto;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}

.col_1_9 {
    width: calc(100% / 9);
  }
  
  .col_2_9 {
    width: calc(100% / 9 * 2);
  }
  
  .col_3_9 {
    width: calc(100% / 9 * 3);
  }
  
  .col_4_9 {
    width: calc(100% / 9 * 4);
  }
  
  .col_5_9 {
    width: calc(100% / 9 * 5);
  }
  
  .col_6_9 {
    width: calc(100% / 9 * 6);
  }

.btn{
    color: white;
    padding: 6px 12px;
    text-decoration: none;
    font-size: 14px;
}

.bg-blue{
    background-color: #0061ff;
}

.bg-lightblue{
    background-color: #b4d0e7;
}

.title-col{
    border-bottom: 1px solid #637381;
    text-align: center;
    padding: 8px 0;
}

.col_3_9_border{
    border: 1px solid #637381;
}

.center-col{
    padding: 0 10px;
}

.col-left{
    padding-right: 20px;
}

.col-right{
    padding-left: 20px;
}

.heigth-col{
    min-height: 1200px;
}

.subtitle{
    color: #637381;
    font-size: 14px;
}

.type-plan-dropbox{
    padding: 30px;
}

.details-plan-dropbox{
    padding: 0 30px 60px;
}

.text-blue{
    color:#0061ff;
}
